/* regole generali di pagina */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(240, 239, 239);
}

header{
    background-color: white;
    height: 80px;
    
}

#container{
    width: 70%;
    margin: 45px auto;
}

#main-title{
    font-size: 45px;
    vertical-align: bottom;  
}

#logo{
    margin-top: 15px;
    margin-left: 15px;
}

nav{
    background-color: white;
    padding-left: 70px;
    height: 70px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

button{
    position: relative;
    top: 20px;
}

#botton-task{
    background-color: rgb(71,173,241);
    color: white;
    border-color: rgb(71,173,241);
    padding: 6px;
    border-radius: 5px;
    font-weight: bolder;
}

#botton-section{
    background-color: white;
    color: rgb(209, 209, 209);
    border-color: rgb(209, 209, 209);
    padding: 6px;
    border-radius: 5px;
    font-weight: bolder;
}

main{
    background-color: white;
    margin-top: 5px;
    padding-left: 70px;
    padding-top: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h2{
    color: rgb(68, 72, 81);
}

.triangle{
    font-size: 40px;
    position: relative;
    top: 22px;
}

.circle-check{
    background-color: white;
    border: 2px solid rgb(139, 194, 182);
    font-size: larger;
    border-radius: 100%;
    margin-right: 15px;
    color: rgb(139, 194, 182);
}

.circle-cross{
    background-color: white;
    border: 2px solid rgb(209, 110, 107);
    font-size: larger;
    border-radius: 100%;
    margin-right: 15px;
    color: rgb(209, 110, 107);
}

section{
    padding-bottom: 20px;
}

.sottosezione{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
}

.editorial{
    background-color: rgb(69,171,234);
    padding: 7px;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    font-style: normal;
    border-radius: 12px;
}

.goals{
    background-color: rgb(156,114,228);
    padding: 7px;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    font-style: normal;
    border-radius: 12px;
}

.recruiting{
    background-color: rgb(100,192,169);
    padding: 7px;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    font-style: normal;
    border-radius: 12px;
}

.mobile{
    background-color: rgb(242,158,51);
    padding: 7px;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    font-style: normal;
    border-radius: 12px;
}

.website{
    background-color: rgb(216,99,161);
    padding: 7px;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    font-style: normal;
    border-radius: 12px;
}

.sales{
    background-color: rgb(176,201,38);
    padding: 7px;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    font-style: normal;
    border-radius: 12px;
}



